{% extends "base.html" %}
{% load staticfiles i18n %}


{% block css %}
    {{ block.super }}
    <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
    <div class="container">
        {% for post in posts %}
            <a href="{{ post.get_url }}" target="_blank" class="col-md-3 post">
                <div class="provider">{{ post.provider }}</div>
                <div class="last_post">
                    {{ post }}
                    <br>
                    {{ post.created }}
                </div>
            </a>
            <div class="col-md-1"></div>
        {% endfor %}
            <a href="{{ post.get_url }}" target="_blank" class="col-md-3 post">
                <div class="provider">Emails</div>
                {% if emails %}
                    <div class="last_post">
                        {{ emails.last.theme }}
                        <br>
                        {{ emails.last.created }}
                    </div>
                {% else %}
                    <div class="last_post">
                        Empty
                    </div>
                {% endif %}
            </a>
            <div class="col-md-1"></div>
    </div>
{% endblock %}
