.post {
  background-color: lightgray;
  text-align: center; }

.post:hover {
  text-decoration: none; }

.provider {
  font-size: large;
  border-bottom: 1px black solid; }

.last_post {
  color: black;
  margin: 10px 0; }
